<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-location-heading" jhiTranslate="foodClientApp.restaurantServiceLocation.home.createOrEditLabel">Create or edit a Location</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!location.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="location.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="location.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="location.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="location.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.locality" for="field_locality">Locality</label>
                    <input type="text" class="form-control" name="locality" id="field_locality"
                        [(ngModel)]="location.locality" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                        [(ngModel)]="location.longitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.latitude" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                        [(ngModel)]="location.latitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.pincode" for="field_pincode">Pincode</label>
                    <input type="text" class="form-control" name="pincode" id="field_pincode"
                        [(ngModel)]="location.pincode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.countryName" for="field_countryName">Country Name</label>
                    <input type="text" class="form-control" name="countryName" id="field_countryName"
                        [(ngModel)]="location.countryName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceLocation.countryid" for="field_countryid">Countryid</label>
                    <input type="text" class="form-control" name="countryid" id="field_countryid"
                        [(ngModel)]="location.countryid" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
