<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.home.title">Restaurant Schedules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant-schedule" [routerLink]="['/restaurant-schedule/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.home.createLabel">
            Create new Restaurant Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="restaurantSchedules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.restaurantId">Restaurant Id</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.day">Day</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.openingTime">Opening Time</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceRestaurantSchedule.closingTime">Closing Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurantSchedule of restaurantSchedules ;trackBy: trackId">
                <td><a [routerLink]="['/restaurant-schedule', restaurantSchedule.id, 'view' ]">{{restaurantSchedule.id}}</a></td>
                <td>{{restaurantSchedule.restaurantId}}</td>
                <td>{{restaurantSchedule.day}}</td>
                <td>{{restaurantSchedule.openingTime}}</td>
                <td>{{restaurantSchedule.closingTime}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/restaurant-schedule', restaurantSchedule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurant-schedule', restaurantSchedule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurant-schedule/'+ restaurantSchedule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
