<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="saveMenuDishes()" #editForm="ngForm">
            <h2>Create Your Menu</h2>
            <div>
              <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="!saveMenu">
                    <strong>Failed to authenticate! </strong>{{errorMessage}}
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">Menu Ends On</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="date" class="form-control" name="endDate" [(ngModel)]="menuItem.date"
                        />
                    </div>
                </div>
                <h5>Enter Dishes For this Menu </h5><br/>

                <div class="form-group">
                    <label class="form-control-label">Dish Name</label>
                    <input type="text" class="form-control" name="dishName" id="field_dishName"
                           [(ngModel)]="dish.dishName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label">Dish Type</label>
                    <select class="form-control" name="dishType" id="field_dishType" [(ngModel)]="dish.dishType">
                    <option value="Main Course">Main Course</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Starter">Starter</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Dish Price</label>
                    <input type="number" class="form-control" name="dishPrice" id="field_dishPrice"
                           [(ngModel)]="dish.dishPrice" />
                </div>

                <div class="fa-pull-right">
                    <button type="button" class="btn btn-primary" (click)="addDish()">
                         Add Dish
                    </button>
                </div><br/>
            </div>
            <br/>

            <div *ngIf="menuItem.dishes.length!=0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span>Dish Name</span></th>
                                <th><span>Dish Type</span></th>
                                <th><span>Dish Price</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dish of menuItem.dishes">
                                <td>{{dish.dishName}}</td>
                                <td>{{dish.dishType}}</td>
                                <td>{{dish.dishPrice}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" (click)="removeDish(dish)"
                                                class="btn btn-info btn-sm">
                                            <span class="d-none d-md-inline">Remove</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

