<div>
        <div *ngIf="menu">
            <jhi-alert-error></jhi-alert-error>
           <div class="col-12" >
               <div>
                   <h3>Menu valid till <span> <h5>{{menu.endDate | date: 'dd/MM/yyyy'}}</h5></span></h3>
               </div><br>
               </div><br>
               <div class="col-10 justify-content-center">
                   <ngb-tabset type="pills">
                       <ngb-tab title="Main Course">
                           <ng-template ngbTabContent>
                               <table class="table table-sm table-striped">
                                   <thead>
                                       <tr>
                                           <th>Dish Name</th>
                                           <th>Dish Price</th>
                                       </tr>
                                   </thead>
                                   <tr *ngFor="let dish of maincourseDishes">
                                       <td>{{dish.dishName}}</td>
                                       <td>{{dish.dishPrice}}</td>
                                   </tr>
                               </table>
                           </ng-template>

                       </ngb-tab>
                       <ngb-tab title="Dessert" >
                           <ng-template ngbTabContent>
                               <table class="table table-sm table-striped">
                                   <thead>
                                       <tr>
                                           <th>Dish Name</th>
                                           <th>Dish Price</th>

                                       </tr>
                                   </thead>
                                   <tr *ngFor="let dish of dessertDishes">
                                       <td>{{dish.dishName}}</td>
                                       <td>{{dish.dishPrice}}</td>
                                   </tr>
                               </table>
                           </ng-template>

                       </ngb-tab>
                       <ngb-tab title="Starter">
                           <ng-template ngbTabContent>
                               <table class="table table-sm table-striped">
                                   <thead>
                                       <tr>
                                           <th>Dish Name</th>
                                           <th>Dish Price</th>
                                       </tr>
                                   </thead>
                                   <tr *ngFor="let dish of starterDishes">
                                       <td>{{dish.dishName}}</td>
                                       <td>{{dish.dishPrice}}</td>
                                   </tr>
                               </table>
                           </ng-template>
                       </ngb-tab>
                   </ngb-tabset>
               </div>
           </div>
        </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
