<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <jhi-alert-error></jhi-alert-error>
           <div class="col-12 row">
                   <div class="col-4">
                       <h3>Menu Till</h3>{{menu.endDate}}
                   </div>
                    <div class="col-6">
                       <h3>Dishes</h3>
                       <ngb-tabset>
                           <ngb-tab title="Dessert">

                           </ngb-tab>
                           <ngb-tab title="Starter">

                           </ngb-tab>
                           <ngb-tab title="sample">

                           </ngb-tab>
                       </ngb-tabset>
                   </div>
           </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
