<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-item-heading" jhiTranslate="foodClientApp.orderServiceOrderItem.home.createOrEditLabel">Create or edit a Order Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.orderServiceOrderItem.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                        [(ngModel)]="orderItem.orderId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.orderServiceOrderItem.itemName" for="field_itemName">Item Name</label>
                    <input type="text" class="form-control" name="itemName" id="field_itemName"
                        [(ngModel)]="orderItem.itemName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.orderServiceOrderItem.itemId" for="field_itemId">Item Id</label>
                    <input type="text" class="form-control" name="itemId" id="field_itemId"
                        [(ngModel)]="orderItem.itemId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.orderServiceOrderItem.itemPrice" for="field_itemPrice">Item Price</label>
                    <input type="number" class="form-control" name="itemPrice" id="field_itemPrice"
                        [(ngModel)]="orderItem.itemPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.orderServiceOrderItem.itemQuantity" for="field_itemQuantity">Item Quantity</label>
                    <input type="number" class="form-control" name="itemQuantity" id="field_itemQuantity"
                        [(ngModel)]="orderItem.itemQuantity" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
