<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodClientApp.orderServiceOrderItem.home.title">Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-item" [routerLink]="['/order-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="foodClientApp.orderServiceOrderItem.home.createLabel">
            Create new Order Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="foodClientApp.orderServiceOrderItem.orderId">Order Id</span></th>
            <th><span jhiTranslate="foodClientApp.orderServiceOrderItem.itemName">Item Name</span></th>
            <th><span jhiTranslate="foodClientApp.orderServiceOrderItem.itemId">Item Id</span></th>
            <th><span jhiTranslate="foodClientApp.orderServiceOrderItem.itemPrice">Item Price</span></th>
            <th><span jhiTranslate="foodClientApp.orderServiceOrderItem.itemQuantity">Item Quantity</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItem of orderItems ;trackBy: trackId">
                <td><a [routerLink]="['/order-item', orderItem.id, 'view' ]">{{orderItem.id}}</a></td>
                <td>{{orderItem.orderId}}</td>
                <td>{{orderItem.itemName}}</td>
                <td>{{orderItem.itemId}}</td>
                <td>{{orderItem.itemPrice}}</td>
                <td>{{orderItem.itemQuantity}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-item', orderItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-item', orderItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-item/'+ orderItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
