<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodClientApp.restaurantServiceDishes.home.title">Dishes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dishes" [routerLink]="['/dishes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="foodClientApp.restaurantServiceDishes.home.createLabel">
            Create new Dishes
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dishes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceDishes.menuId">Menu Id</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceDishes.dishName">Dish Name</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceDishes.dishType">Dish Type</span></th>
            <th><span jhiTranslate="foodClientApp.restaurantServiceDishes.dishPrice">Dish Price</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dishes of dishes ;trackBy: trackId">
                <td><a [routerLink]="['/dishes', dishes.id, 'view' ]">{{dishes.id}}</a></td>
                <td>{{dishes.menuId}}</td>
                <td>{{dishes.dishName}}</td>
                <td>{{dishes.dishType}}</td>
                <td>{{dishes.dishPrice}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dishes', dishes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dishes', dishes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dishes/'+ dishes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
