<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dishes-heading" jhiTranslate="foodClientApp.restaurantServiceDishes.home.createOrEditLabel">Create or edit a Dishes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dishes.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dishes.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceDishes.menuId" for="field_menuId">Menu Id</label>
                    <input type="text" class="form-control" name="menuId" id="field_menuId"
                        [(ngModel)]="dishes.menuId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceDishes.dishName" for="field_dishName">Dish Name</label>
                    <input type="text" class="form-control" name="dishName" id="field_dishName"
                        [(ngModel)]="dishes.dishName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceDishes.dishType" for="field_dishType">Dish Type</label>
                    <input type="text" class="form-control" name="dishType" id="field_dishType"
                        [(ngModel)]="dishes.dishType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodClientApp.restaurantServiceDishes.dishPrice" for="field_dishPrice">Dish Price</label>
                    <input type="number" class="form-control" name="dishPrice" id="field_dishPrice"
                        [(ngModel)]="dishes.dishPrice" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
