<div class="row justify-content-center">

    <!--page 1-->

    <div class="col-8" *ngIf="page === 0">
        <h3>Select Your Restaurant</h3>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #restaurantForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="field_restaurantId">Select Restaurant</label>
                <div class="d-flex">
                    <select id="field_restaurantId" class="form-control" name="restaurantId" (change)="loadRestaurantMenu(orders.restaurantId)" [(ngModel)]="orders.restaurantId" required>
                    <option *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{restaurant.name}}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="menuItem && menuItem.dishes.length!=0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>Dish Name</span></th>
                            <th><span>Dish Type</span></th>
                            <th><span>Dish Price</span></th>
                            <th><span>Quantity</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dish of menuItem.dishes">
                            <td>{{dish.dishName}}</td>
                            <td>{{dish.dishType}}</td>
                            <td>{{dish.dishPrice}}</td>
                            <td>{{getItemQuantity(dish)}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button"
                                            class="btn btn-info btn-sm" (click)="addDish(dish)">
                                        <fa-icon [icon]="'plus'"></fa-icon><span>&ensp; Add</span>
                                    </button>
                                    &emsp;
                                    <button *ngIf="getItemQuantity(dish) > 0" type="button"
                                            class="btn btn-info btn-sm" (click)="removeDish(dish)" >
                                        Remove
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" (click)="next()" id="save-entity" [disabled]="order.itemsInfo && order.itemsInfo.length === 0" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Next</span>
                </button>
            </div>
        </form>
    </div>


    <!--page 2-->

    <div class="col-8" *ngIf="page === 1">
        <h3>Add address</h3>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #addressForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="field_address">Enter your address</label>
                <div class="d-flex">
                    <input id="field_address" placeholder="Enter full Address" class="form-control" name="address" [(ngModel)]="orders.deliveryAddress" required />
                    &ensp;
                    <button (click)="markCurrentLocation()" [disabled]="isSaving" class="btn btn-success btn-sm">
                        <fa-icon [icon]="'plus'" ></fa-icon>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_addressType">Address Type</label>
                <div class="d-flex">
                    <select id="field_addressType" class="form-control" name="addressType" [(ngModel)]="addressType" >
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_specialNote">Special Note</label>
                <div class="d-flex">
                    <input id="field_specialNote" placeholder="Any special note for restaurant" class="form-control" name="specialNote" [(ngModel)]="orders.specialNote" />
                </div>
            </div>
            <div>
                <button type="button" (click)="back()" id="previous_1" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Previous</span>
                </button>
                <button type="button" (click)="next()" [disabled]="addressForm.form.invalid" id="next_1" [disabled]="order.itemsInfo && order.itemsInfo.length === 0" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Next</span>
                </button>
            </div>
        </form>
    </div>

    <!--page 3-->

    <div class="col-8" *ngIf="page === 2">
        <h3>Confirm Order</h3>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #addressForm="ngForm">
            <div>
                <button type="button" (click)="back()" id="previous_2" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Previous</span>
                </button>
                <button type="button" (click)="confirmOrder()" id="confirm_order" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Confirm</span>
                </button>
            </div>
        </form>
    </div>
</div>
