<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurant">
            <h2><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.detail.title">Restaurant</span> {{restaurant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.name">Name</span></dt>
                <dd>
                    <span>{{restaurant.name}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.locationId">Location Id</span></dt>
                <dd>
                    <span>{{restaurant.locationId}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.executiveLogin">Executive Login</span></dt>
                <dd>
                    <span>{{restaurant.executiveLogin}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.cuisineTypes">Cuisine Types</span></dt>
                <dd>
                    <span>{{restaurant.cuisineTypes}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.currentMenuId">Current Menu Id</span></dt>
                <dd>
                    <span>{{restaurant.currentMenuId}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.registrationDate">Registration Date</span></dt>
                <dd>
                    <span>{{restaurant.registrationDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
