<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurant">
            <h2><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.detail.title">Restaurant: </span> {{restaurant.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.name">Name</span></dt>
                <dd>
                    <span>{{restaurant.name}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{location.address}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.cuisineTypes">Cuisine Types</span></dt>
                <dd>
                    <span>{{restaurant.cuisineTypes}}</span>
                </dd>
                <dt><span jhiTranslate="foodClientApp.restaurantServiceRestaurant.registrationDate">Registration Date</span></dt>
                <dd>
                    <span>{{restaurant.registrationDate | date: 'dd:MM:yyyy'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
